.btn-primary {
    margin-right: 10px;
}
.bi {
    margin-right: 4px;
}
.one  {
   width: 200px;
   margin: 300px;
  
    
    
}
.two {
    
    width: 200px;
    margin: 700px;
    
   
}
.three {
    width: 200px;
    margin: 1300px;
    
   
}

